<%- include("partials/header"); -%>
<div class="col-12 col-lg-6">
    <div class="card block">
        <div class="card-body">
            <h3 class="startheading">HEY BLOGGERS!</h3>
            <p class="start">My name is Anush Gupta. I am a student at Delhi Technological University(DTU)</p>
            <p class="start">So, as the name suggests this is a Live Journal where you can read latest news that is catching attention around the globe.
            </p>
            <p class="start">
            After reading the news, you can put forward your personal views about that subject or any other legitimate subject by hitting the
            <span class="startheading">COMPOSE BLOG</span> button.
            This is a platform where you can write interesting and attractive blogs and also read what other folks have to say about!
            </p>
            <form action="/compose">
            <div class="wrap">
                <button class="button1">COMPOSE BLOG</button>
            </div>
            </form>
           </div>
    </div>
  </div>
<div class="col-12 col-lg-6">
    <div class="direct-contact-container">
        <h1 class="startheading" style="text-align: center; font-size: 50px;">GET IN TOUCH !</h1>
        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Pitampura,New Delhi</span></i></li>
          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">7292030414</a></span></i></li>
          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">anushgupta2303@gmail.com</a></span></i></li>
        </ul>
        <hr>
        <ul class="social-media-list">
          <a href="https://github.com/Anush2303" target="_blank"><li class="contact-icon">
            <i class="fab fa-github"  aria-hidden="true"></i></li>
          </a>
          <a href="mailto:anushgupta2303@gmail.com" target="_blank"><li  class="contact-icon">
            <i class="fas fa-envelope-open-text" aria-hidden="true"></i></li>
          </a>
          <a href="https://www.instagram.com/anush_g2303/" target="_blank"><li class="contact-icon">
            <i class="fab fa-instagram" aria-hidden="true"></i></li>
          </a>       
        </ul>
        <hr>
        <div class="exit">
        <form action="/">
        <div class="wrap">
            <button class="button1">COME BACK LATER?</button>
        </div>
        </form>
        </div>
       </div>
    </div>
</div>
<%- include("partials/footer"); -%>